{% extends 'base.html' %}

{% block title %}
  REGISTRARSE
{% endblock %}



{% block base_body %}

<main class="form-signing my-5 mx-5 pt-3">
  <div class="container">
    <!-- Mostrar errores de autenticación -->
      {% if errors %}
        {% for e in errors %}
        <div class="alert alert-danger">{{ e }}</div>
        {% endfor %}
      {% endif %}
    
    <!-- Form de registro de usuario -->
    <div class="container mt-3">
      <form action="" method="POST">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="promanager@example.com" name="email">
        </div>
        <div class="mb-3 mt-3">
          <label for="pwd" class="form-label">Contraseña:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Ingresar contraseña" name="password">
        </div>
        <div class="form-check mb-3 mt-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Recordarme
          </label>
        </div>
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form> 
    </div>
  </div>
</main>


{% endblock %}