{% extends 'nav_foot.html' %}
<!-- prettier-ignore -->
{% block title %}REGISTRARSE{% endblock %}
<!-- prettier-ignore -->
{% block nf_content %}

<main class="form-signing my-3 pt-3">
  <div class="container">
    <!-- Mostrar errores de autenticación -->
    {% include '/error_display.html' %}

    <!-- Form de registro de usuario -->
    <div class="container mt-3">
      <form action="" method="POST">
        <!-- DIV de USERNAME input -->

        <div class="row my-2">
          <div class="col">
            <label for="username" class="form-label">Nombre de usuario:</label>
            <input
              required
              type="text"
              class="form-control"
              id="username"
              placeholder="username123"
              name="username"
            />
          </div>
        </div>
        <!-- DIV de EMAIL input -->
        <div class="row my-2">
          <div class="col">
            <label for="email" class="form-label">Email:</label>
            <input
              required
              type="email"
              class="form-control"
              id="email"
              placeholder="promanager@example.com"
              name="email"
            />
          </div>
        </div>

        <!-- DIV de PASSWORD input -->

        <div class="row my-2">
          <div class="col">
            <label for="password" class="form-label">Contraseña:</label>
            <input
              required
              type="password"
              class="form-control"
              id="password"
              placeholder="Ingresar contraseña"
              name="contrasena"
            />
          </div>
        </div>

        <!-- DIV de NOMBRE y APELLIDO inputs -->

        <div class="row my-2" id="names">
          <div class="col my-2">
            <label for="username" class="form-label">Nombre:</label>
            <!-- input de NOMBRE -->

            <input
              required
              type="text"
              class="form-control"
              placeholder="Nombre"
              name="nombre"
              id="username"
            />
          </div>
          <div class="col my-2">
            <label for="surname" class="form-label">Apellido:</label>

            <input
              required
              type="text"
              class="form-control"
              placeholder="Apellido"
              name="apellido"
              id="surname"
            />
          </div>
        </div>

        <!-- DIV de NUM TELEFONO inputs -->

        <div class="row my-2">
          <label class="form-label">Número de teléfono (sólo números):</label>
          <div class="col-lg-3 mb-2">
            <select
              required
              class="custom-select"
              name="telefono_prefijo"
              id="country_code"
            >
              <option selected value="">Código de país</option>
              {% for code in country_codes %}
              <!-- prettier-ignore -->
              <option value="{{code['id']}}">{{code['pais']}} {{code['prefijo']}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg">
            <input
              required
              type="text"
              class="form-control"
              placeholder="Número de teléfono"
              name="telefono_numero"
              id="phonenumber"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-outline-dark mt-3">Enviar</button>
      </form>
    </div>
  </div>
</main>

<style>
  .form-signing {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
</style>

{% endblock %}
