{% extends 'nav_foot.html' %}

<!-- prettier-ignore -->

{% block title %} Invitar a Proyecto {% endblock%}

<!-- prettier-ignore -->

{% block nf_content %}

{% include 'error_display.html'   %}
<script src="/static/js/project_integrants.js"></script>

<h1 class="mt-3 text-center">{{proyect.nombre}}</h1>
<h4 class="mb-3 text-center">Gestión de Integrantes</h4>
<a
  href="/usuario/{{current_user.username}}/proyecto/{{proyect.id}}"
  class="text-decoration-none"
>
  <div class="row mt-4">
    <!-- Input: nombre proyecto padre de equipo -->
    <div class="col-2">
      <label for="proyecto_id" class="form-label"><b>#</b></label>
      <div class="form-control" id="proyecto_id" readonly>{{ proyect.id }}</div>
    </div>
    <div class="col">
      <label for="proyecto_nombre" class="form-label"><b>Proyecto</b></label>
      <div class="form-control" id="proyecto_nombre" readonly>
        {{ proyect.nombre }}
      </div>
    </div>
  </div>
</a>
{% if proyect.user_can_modify(current_user.id) %}

<div class="row mt-4 py-3">
  <form
    class="needs-validation was-validated"
    novalidate=""
    method="POST"
    onsubmit="return false"
  >
    <!-- nombre y proyecto padre -->
    <div class="row mt-4 align-items-end">
      <!-- Input: nuevo integrante -->
      <div class="col position-relative">
        <label for="participant_identif" class="form-label"
          >Nuevo participante</label
        >
        <input
          class="form-control"
          autocomplete="new-password"
          type="text"
          placeholder="email o username"
          id="participant_identif"
          name="participant_identif"
          required
        />
        <div class="invalid-feedback position-absolute">
          Ingresa el nombre de usuario o email del nuevo integrante.
        </div>
      </div>
      <!-- Input: rol del nuevo integrante -->

      <div class="col position-relative">
        <label for="role" class="form-label">Rol</label>
        <select
          required
          class="form-select"
          name="role"
          id="role"
          aria-label=".form-select"
        >
          <option value="">Roles de integrante</option>

          {% for role in roles %}
          <!-- prettier-ignore -->
          <option value="{{ role['id'] }}">{{ role['nombre'] }} </option>
          {% endfor %}
        </select>
        <div class="invalid-feedback position-absolute">
          El nuevo integrante debe tener un rol.
        </div>
      </div>
      <div
        class="col col-lg-1 d-flex justify-content-center align-items-center"
      >
        <button id="create-button" class="btn btn-primary" type="submit">
          Agregar
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %}

<!-- prettier-ignore -->

{% if proyect.participantes %}

<div class="table-responsive-lg mt-5">
  <table class="table table-bordered table-hover">
    <thead class="table-secondary">
      {% for key in proyect.participantes[0].keys() %}

      <th class="text-center">{{key}}</th>

      {% endfor %} {% if proyect.user_can_modify(current_user.id) %}
      <th class="text-center">Acciones</th>

      {% endif %}
    </thead>
    <tbody id="table-body">
      {% for participant in proyect.participantes %}

      <tr>
        {% for key, value in participant.items() %}

        <td class="text-center {{key}}-cell">{{value}}</td>

        {% endfor %} {% if proyect.user_can_modify(current_user.id) %}
          <div class="delete-button btn btn-danger btn-sm">
            <img
              src="/static/icons/recycle-bin.png"
              alt=""
              style="width: 16px; height: 16px"
              data-toggle="tooltip"
              data-placement="top"
              title="Eliminar integrante"
            />
          </div>
        </td>
        {% endif %}
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}

<h1>No hay registros de integrantes para este proyecto</h1>

{% endif %}

<!-- prettier-ignore -->

<style>
    .alert-fixed {
      margin-top: 1%;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50%; /* Adjust the width as needed */
      z-index: 9999;
      text-align: center; /* Adjust as needed */
      padding: 10px; /* Adjust as needed */
      box-sizing: border-box; /* Include padding in width calculation */
    }
      .alert-fixed .btn-close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
</style>

{% endblock %}
