<a
  href="/usuario/{{current_user.username}}/{{resource}}/{{row['id '+resource]}}"
>
  <div class="btn btn-success btn-sm">
    <img
      src="/static/icons/view.png"
      alt=""
      style="width: 16px; height: 16px"
      data-toggle="tooltip"
      data-placement="top"
      title="Modificar {{resource}}"
    />
  </div>
</a>
<a
  href="/usuario/{{current_user.username}}/{{resource}}/{{row['id '+resource]}}/integrantes"
>
  <div class="btn btn-info btn-sm">
    <img
      src="/static/icons/group.png"
      alt=""
      style="width: 16px; height: 16px"
      data-toggle="tooltip"
      data-placement="top"
      title="Integrantes de {{resource}}"
    />
  </div>
</a>
